.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  font-size: 20px;
  font-weight: 500;

  font-family: 'Roboto', sans-serif;
  font-style: medium;
  text-decoration: none;
  color: rgba(40, 40, 40, 1);
}
.link :hover {
  color: rgba(40, 40, 40, 0.5);
}

.active {
  color: rgba(40, 40, 40, 0.5);
  border-bottom: 2px solid rgba(40, 40, 40, 0.5);
}

.basket {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
